.header-background {
  /* ... existing styles ... */
  width: 100vw;
  color: white;
}

button {
  background-color: var(--accentColor);
  border: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  padding: 0.625rem 1.25rem; /* Changed from 10px 20px to 0.625rem 1.25rem */
}

#home {
  display: flex;
  color: black;
}

.rating {
  border: solid 1px rgb(236, 236, 236);
  margin-left: auto; /* Center the element */
  margin-right: auto; /* Center the element */
  padding: 0.625rem 1.875rem; /* Changed from 10px 30px to 0.625rem 1.875rem */
  text-align: center;
  border-radius: 10px;
  width: 18.75rem; /* Changed from 300px to 18.75rem */
  box-shadow: 8px 20px 25px 0px rgba(155, 153, 153, 0.48);
  max-width: 90%; /* Ensure it doesn't overflow on small screens */
}

.rating img {
  max-height: 1.25rem; /* Changed from 20px to 1.25rem */
}

.home-2 {
  display: flex;
  align-items: center;
}

.home-2 img {
  height: 25rem; /* Changed from 400px to 25rem */
  margin-left: 1.875rem; /* Changed from 30px to 1.875rem */
}

#profile-pict {
  height: 10px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(56, 56, 175);
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo-text {
  display: flex;
  align-items: center;
}

.logo-text h2 {
  margin-left: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

nav a:hover {
  background-color: rgb(29, 29, 117);
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

/* Transform hamburger into 'X' when menu is open */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  .logo-text {
    margin-bottom: 1rem;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
  }

  .hamburger {
    display: block;
  }

  .nav-active {
    display: block;
  }
}
